.container {
  display: flex;
  height: calc(100vh - 16px);
  position: relative;
}
.robot {
  max-width: 20rem;
  animation-name: w-prawo;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes w-prawo
{
  0%
  {
    transform: translate(0px, 0px);
  }
  20%
  {
    transform: translate(80px, 50px) rotate(35deg) scale(1.2);
  }
  60%
  {
    transform: translate(220px, 70px) rotate(75deg) scale(1.4);
  }
  80%
  {
    transform: translate(300px, 30px) rotate(140deg) scale(1.2);
  }
  100%
  {
    transform: translate(400px, 0px) rotate(180deg) scale(1);
  }
}
